/* start your styling here  */.button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  .button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
  }
  
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }
  .button3 {
    background-color: white;
    color: black;
    border: 2px solid #eb8e42;
  }
  
  .button3:hover {
    background-color: #eb8e42;
    color: white;
  }
  .button4 {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
  }
  
  .button4:hover {
    background-color: #f44336;
    color: white;
  }
  
  .button5 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
  }
  
  .button5:hover {
    background-color: #e7e7e7;
}
  
  
